.nav__link-a {
  font-weight: 100;
}

.nav__link-a a {
  color: #000 !important;
  font-size: 18px !important;
  transition: color 0.3s ease-in-out;
}

.nav__link-a a:hover {
  color: var(--red) !important;
}

.navbar__img-log {
  width: 80px;
}

@media screen and(min-width: 48rem) {
  .navbar__img-log {
    width: 100px;
  }
}
@media screen and (min-width: 62rem) {
  .navbar__img-log {
    width: 80%;
    height: 80%;
  }
}
